# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
wheels/

# Virtual environments
venv/
.venv/
env/
.env/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Distribution / packaging
MANIFEST
pip-wheel-metadata/
